@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,300;0,600;0,700;1,300&family=Figtree:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Figtree', sans-serif;
    background-color: #f9f9f8;
    color: #111110;
  }

  * {
    box-sizing: border-box;
  }
}

@layer utilities {
  .font-serif {
    font-family: 'Fraunces', serif;
  }
}
